.Rectangle4169 {
  width: 100%;
  height: 711px;
  left: 0px;
  top: 0px;
  position: absolute;
  background-image: url("../Images/Concert_ombre.png");
  background-size: cover;
}
.LogoMelodica {
  width: 938.38px;
  height: 264.83px;
  padding-bottom: 0.01px;
  left: 171px;
  top: 66.17px;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}
.Logo {
  width: 938.38px;
  height: 264.82px;
  position: relative;
}
.MelodicaV {
  width: 938.38px;
  height: 229.42px;
  left: 0px;
  top: 2.38px;
  position: absolute;
  text-align: center;
  color: #560bad;
  font-size: 258.74px;
  font-family: Black Heat Free Demo;
  font-weight: 400;
  word-wrap: break-word;
}
.MelodicaR {
  left: 30.02px;
  top: -0px;
  position: absolute;
  text-align: center;
  color: #f72585;
  font-size: 258.74px;
  font-family: Black Heat Free Demo;
  font-weight: 400;
  word-wrap: break-word;
}
.Festival {
  left: 730.23px;
  top: 250.82px;
  position: absolute;
  text-align: center;
  color: #121212;
  font-size: 57.5px;
  font-family: Black Heat Free Demo;
  font-weight: 400;
  word-wrap: break-word;
}
.Header {
  width: 776.87px;
  height: 303px;
  left: 252px;
  top: 359px;
  position: absolute;
}
.Menu {
  left: 0px;
  top: 123px;
  position: absolute;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 84px;
  display: inline-flex;
}
.btnEvenement, .btnBilleterie, .btnPartenariat {
  width: 202.96px;
  height: 57.44px;
  position: relative;
}
.Rectangle4170, .Rectangle4172 {
  width: 202.96px;
  height: 57.44px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #f72585;
  border-radius: 3.83px;
}
.Evenement, .Partenariat {
  left: 28px;
  top: 14px;
  position: absolute;
  color: #fdfdfd;
  font-size: 25.53px;
  font-family: Rubik;
  font-weight: 700;
  word-wrap: break-word;
}
.Rectangle4171 {
  width: 202.96px;
  height: 57.44px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #560bad;
  border-radius: 3.83px;
}
.Billetterie {
  left: 36.24px;
  top: 14px;
  position: absolute;
  color: #fdfdfd;
  font-size: 25.53px;
  font-family: Rubik;
  font-weight: 700;
  word-wrap: break-word;
}
.Compteur {
  left: 94px;
  top: 244px;
  position: absolute;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 100px;
  display: inline-flex;
}
.compteur_jours, .compteur_heures, .competeur_minutes, .compteur_secondes{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 13px;
  display: inline-flex;
}
.nbre_jours, .nbre_heures, .nbre_minutes, .nbre_secondes {
  color: white;
  font-size: 25.53px;
  font-family: Black Heat Free Demo;
  font-weight: 400;
  word-wrap: break-word;
}
.Jours, .Heures, .Minutes, .Secondes {
  color: white;
  font-size: 25.53px;
  font-family: Black Heat Free Demo;
  font-weight: 400;
  word-wrap: break-word;
}
.lieu {
  text-align: center;
  color: #fdfdfd;
  font-size: 27.85px;
  font-family: Rubik;
  font-weight: 700;
  text-transform: uppercase;
  word-wrap: break-word;
}
