.LogoEch2o {
  width: 304.32px;
  height: 150px;
  left: 488px;
  top: 33px;
  position: absolute;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}
.Menu {
  width: 742px;
  left: 269px;
  top: 226px;
  position: absolute;
  justify-content: center;
  align-items: center;
  gap: 100px;
  display: inline-flex;
}
.Produits {
  color: #4bb19d;
  font-size: 20px;
  font-family: Rubik;
  font-weight: 700;
  word-wrap: break-word;
}
.Evenement {
  color: #4bb19d;
  font-size: 20px;
  font-family: Rubik;
  font-weight: 700;
  word-wrap: break-word;
}
.Partenariat {
  color: #4bb19d;
  font-size: 20px;
  font-family: Rubik;
  font-weight: 700;
  word-wrap: break-word;
}
